<div class="content mat-elevation-z4">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/appComponent.gridColumns) + '%'" fxFlex.xs="95%" fxFlex.sm="33%" *ngFor="let game of cheapSharkGames.__zone_symbol__value">
        <mat-card class="mat-elevation-z4" (skillChange)="game.title">
          <mat-card-header>
            <mat-card-title>{{game.title}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{game.thumb}}">
          <mat-card-content>
            <h3>Value <s>{{game.normalPrice}}</s> Get it for {{game.salePrice}}</h3>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button><a href="https://www.cheapshark.com/redirect?dealID={{game.dealID}}" target=”_blank”>Get it NOW!</a></button>
            <app-social-links></app-social-links>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>